{% extends "base.html" %}

{% block content %}
  <div class="container-1">
    <h1>Task list
    <a href="{% url 'cabinet:task-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
    {% if user.is_authenticated %}
      <p>Hello <strong>{{ user.username }}</strong>! <a href="{% url 'logout' %}" class="btn btn-info">Logout</a></p>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-info">Login</a>
    {% endif %}
  </div>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
      <li>
          <h3>
            <a href="{% url "cabinet:task-detail" pk=task.id %} ">{{ task.name }}</a>
          </h3>
          <p>Description: {{ task.description }}</p>
          <h4>Deadline: {{ task.deadline }}</h4>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no post in feed</p>
  {% endif %}
{% endblock %}